<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Database</title>
    <!--mdb css-->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <!--custom css-->
    <link rel="stylesheet" href="css/customStyle.css">
    <link href="https://fonts.googleapis.com/css?family=Oleo+Script:400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Teko:400,700" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

</head>
<body ng-app="managementApp" ng-controller="myCtrl">
<section id="contact">
    <div class="section-content">
        <h1 class="section-header">Enter Your
            <span class="content-header wow fadeIn " data-wow-delay="0.2s" ata-wow-duration="2s"> Details</span>
        </h1>
        <h3>"Because You're Worth It"</h3>
    </div>
    <div class="contact-section">
        <div class="container">
            <form name="userForm">
                <div class="col-md-6 form-line">
                    <div class="form-group">
                        <label for="exampleInputUsername">Your name :</label>
                        <input type="text" class="form-control" id="exampleInputUsername" placeholder=" Enter Name"
                               name="name" ng-model="enteredName" required>

                    </div>
                    <div class="form-group">
                        <label for="dob">DOB :</label>
                        <input type="date" class="form-control" id="dob" placeholder="01-01-1901"
                               ng-model="enteredDob" required max="{{ currentDate | date:'yyyy-MM-dd'}}">
                    </div>
                    <div>
                        <button type="button" class="btn btn-default submit" ng-click="saveData(); showDetails()"
                                ng-show="submit" ng-disabled="userForm.$invalid">
                            <i class="fa fa-paper-plane" aria-hidden="true"></i> Submit
                        </button>
                        <button type="button" class="btn btn-default submit" ng-click="updateData()" ng-hide="update"
                        >
                            <i class="fa fa-wrench" aria-hidden="true"></i> Update
                        </button>
                        <button type="button" class="btn btn-default submit btnSeperate" ng-click="cancelData()"
                                ng-hide="update"
                        >
                            <i class="fa fa-times" aria-hidden="true"></i> Cancel
                        </button>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-4 col-sm-12">
                            <h4>Names</h4>
                        </div>
                        <div class="col-md-4 col-sm-12">
                            <h4>DOB</h4>
                        </div>
                        <div class="col-md-4 col-sm-12">
                            <h4>Action</h4>
                        </div>
                    </div>
                    <div class="row"
                         ng-repeat="names in temp1 | startFrom:currentPage*pageSize | limitTo:pageSize track by $index">
                        <div class="col-md-4 col-sm-4 capitalize">
                            {{$index+1}} . {{names.enteredName}}
                        </div>
                        <div data-pagination="" data-num-pages="numPages()"
                             data-current-page="currentPage" data-max-size="maxSize"
                             data-boundary-links="true">
                        </div>

                        <div class="col-md-4 col-sm-4 capitalize">
                            {{$index+1}} . {{names.enteredDob | date}}
                        </div>
                        <div class="col-md-4 col-sm-4">
                            <div class="col-md-6">

                                <button type="button" class="btn size btn-default updateSize"
                                        ng-click="editEntry($index)">
                                    <i class="fa fa-pencil fa-1x" aria-hidden="true"></i>
                                </button>
                            </div>
                            <div class="col-md-6">
                                <button  type="button" data-toggle="modal" data-target="#confirm-delete"
                                        class="btn size btn-default delete" ng-click="onCLickShowBtn()">
                                    <i class="fa fa-trash fa-1x" aria-hidden="true"></i>
                                </button>
                            </div>
                                <div>
                                    <div class="modal fade " id="confirm-delete" tabindex="-1" role="dialog"
                                         aria-labelledby="myModalLabel" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">

                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal"
                                                            aria-hidden="true">&times;
                                                    </button>
                                                    <h4 class="modal-title" id="myModalLabel" ng-show="deleteText">Confirm Delete</h4>
                                                    <h4 class="modal-title" id="myModalLabelx" ng-hide="deleteTextContent">Deleted !</h4>
                                                </div>

                                                <div class="modal-body" >
                                                    <div ng-show="deleteP">
                                                    <p>You are about to delete one track, this procedure is
                                                        irreversible.</p>
                                                    <p>Do you want to delete given data?</p>
                                                    <p>{{names.enteredName}},{{names.enteredDob | date}}</p>
                                                    </div>
                                                    <div ng-hide="deleteTextHide">
                                                        <p>Item successfully deleted !!!</p>
                                                    </div>
                                                </div>

                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-default" data-dismiss="modal">
                                                        Cancel
                                                    </button>
                                                    <button type="button" class="btn btn-danger btn-ok" id="closemodal" ng-show="deletebtn"
                                                            ng-click="deleteEntry($index)">
                                                        Delete
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>

            </form>
        </div>
    </div>
    <div>
        <div class="col-md-8">

        </div>
        <div class="col-md-4 paginationin">
            <button class="btn btn-default" ng-disabled="currentPage == 0" ng-click="currentPage=currentPage-1" offset = (pageSize - 1) * currentPage + 1.>
                <i class="fa fa-arrow-left" aria-hidden="true"></i>
            </button>
            {{currentPage+1}}/ {{numberOfPages()}}
            <button class="btn btn-default" ng-disabled="currentPage >= temp1.length/pageSize - 1"
                    ng-click="currentPage=currentPage+1">
                <i class="fa fa-arrow-right " aria-hidden="true"></i>
            </button>
        </div>
    </div>
</section>

</body>
<script src="jquery/jquery.min.js"></script>
<!--bootstrap -->
<script src="js/bootstrap.min.js"></script>
<!--angular-->
<script src="bower_components/angular/angular.min.js"></script>
<!--custom -->
<script src="js/customStyle.js"></script>
</html>